
body{
    background: #BDBDBD;
}
<<<<<<< HEAD

.card-title {

    align-content: center;
    font-size: 30px;
    
}


.card-body {

    align-content: center;
    align-items: center;
    text-align: center;
}
.card-text {

    color: blue;
    display: flex;
    justify-content: flex-start;
}

.card-text1 {

    display: flex;
    justify-content: flex-start;
}

=======
/*first_heading properties*/
.FirstHeading{
    text-align: center;
}

 .imagee{
     width: 200px;  
     height: 200px;
     border-radius: 50%;

 }
 .block1{
     display: flex;
     justify-content: flex-end;
     margin: 0px;
 }
.block1 p{
    text-align: center;
}

/*service properties*/
.imageea{
     width: 200px;  
     height: 200px;
     border-radius: 50%;
}
.SecondHeading{
    text-align: center;
}

.service{
display: flex;
flex-direction: row-reverse;
}
.service p{
    text-align: center;
}
>>>>>>> 5b7821670daea707a55e209f60d1e02d4b3b4cc9
