<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla lacus eu ultricies mattis. Pellentesque ac ligula at odio congue suscipit nec id ipsum. Sed at mi id nisl faucibus tincidunt. Maecenas vitae lorem lacinia, venenatis mi at, ultrices ante. Sed in nisi vel libero cursus tempus. Vestibulum pulvinar et lacus eget viverra. Nam porttitor congue sem, eget elementum enim dapibus eget.

Pellentesque risus nibh, gravida nec mauris ut, dictum fringilla est.</p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Your E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your.e-mail@example.com">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" ></textarea>
  <div class="form-actions">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>