<!-- your html code here -->
<div>
<!--titulo y y subtitulos--> 
    <div class="FirstHeading" >
<h3> <strong>This First Heading</strong>Will Catch Your Eye font</h3><br>
    </div>
    <!-- imagen -->
        <div class="block1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus impedit voluptatum velit modi cupiditate nihil nemo similique beatae reiciendis! Dolor tenetur neque in. Consequatur, vero. Facilis mollitia omnis pariatur suscipit.</p> <div class="imagee"> </div>

        </div>
</div>