<!-- your html code here -->
<div>
<!--titulo y y subtitulos--> 
    <div class="FirstHeading" >
<h3> <strong>This First Heading</strong>Will Catch Your Eye font</h3><br>
    </div>
    <!-- imagen -->
        <div class="block1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus impedit voluptatum velit modi cupiditate nihil nemo similique beatae reiciendis! Dolor tenetur neque in. Consequatur, vero. Facilis mollitia omnis pariatur suscipit.</p>
<a><img src="https://dbb65148-ac1e-4d61-9608-c3ef9cbf9600.ws-us02.gitpod.io/mini-browser/workspace/web-colaboration/website1/assets/img/1.jpg" class="imagee"></a>

        </div>
</div>