<!-- your html code here -->
<h3>Portafolio
<p class="one-text"><small class="strong"> ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel escelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</small></p>

</h3>
<div class="card-deck">
  <div class="card">
  
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted; font-color: blue">PROJECT NAME</small></p>
      <p class="card-text1"><small class="strong"> lorem ipsum dolor sit amet, consecteturn adipiscing elit. Nam viverra euismod odio, gravida pellenqueste urna varius vitae.</small></p> 
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted; font-color: blue; display: flex; justify-content: flex-start">PROJECT NAME </small></p>
      <p class="card-text1"><small class="strong"> lorem ipsum dolor sit amet, consecteturn adipiscing elit. Nam viverra euismod odio, gravida pellenqueste urna varius vitae.</small></p> 
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted; font-color: blue" >PROJECT NAME </small></p>
      <p class="card-text1"><small class="strong"> lorem ipsum dolor sit amet, consecteturn adipiscing elit. Nam viverra euismod odio, gravida pellenqueste urna varius vitae.</small></p> 
    </div>
  </div>
</div>