<!-- your html code here -->
<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">PROJECT NAME</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">PROJECT NAME </small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">700X400</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">PROJECT NAME </small></p>
    </div>
  </div>
</div>