<!-- your html code here -->
<div>
<!-- segund titulo y sub titulos -->
    <div class="SecondHeading" >
<h3> <strong>The Second Heading </strong>Is Pretty Cool Too</h3><br>
    </div>
    <!-- imagen 2 -->
        <div class="service">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus impedit voluptatum velit modi cupiditate nihil nemo similique beatae reiciendis! Dolor tenetur neque in. Consequatur, vero. Facilis mollitia omnis pariatur suscipit.</p> <div class="imageea"> </div>

        </div>
</div>